@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}

body {
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8em;
}

p {
    line-height: 20px;
    margin-bottom: 20px;
}

/*Header*/

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    margin: 20px 0;
}

#logo {
    font-size: 1em;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav i {
    order: 1;
}

nav > ul {
    display: none;
    list-style: none;
    position: absolute;
    left: 20%;
    right: 130px;
    top: 50%;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    border-radius: 8px;

}

nav > ul > li {
    flex: 0 0 30px;
}

nav > ul a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav button#theme {
    order: 2;
    padding: 8px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 5px;
}

nav button#theme:active {
    box-shadow: inset 0px 0px 5px white;
}
/*Main*/
/*Section about*/

main {
    padding: 40px;
}

#about {
    display: grid;
    grid-template: auto / 2fr 250px;
    gap: 80px;
}

#about .text h1 {
    font-size: 3em;
}

#about .text h2 {
    font-size: 1.2em;
    font-weight: normal;
    color: gray;
    margin: 15px 0;
}

#about > figure {
    background: red url('../images/perfil/terno-semfundo-light.jpg') no-repeat 38% 58% / 800px;
    height: 350px;
    border-radius: 8px;
}