@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8em;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    align-items: center;
    padding: 0 20px;
}

#logo {
    font-size: 1em;
    font-weight: normal;
}

nav > ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    padding: 0;
    
}

nav > ul a {
    color: black;
    text-decoration: none;
}

nav > ul button#theme {
    padding: 6px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 5px;
}

nav > ul button#theme:active {
    box-shadow: inset 0px 0px 5px white;
}